<div class="landing vh-100">
  <div class="dark-overlay landing-inner text-light">
    <div class="container bg-transparent">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-3">Worker Bee</h1>
          <p class="lead">
            Create and manage an employee directory.
          </p>
          <hr />
          <a href="/admins/register" class="btn btn-lg btn-info mr-2">Sign Up</a>
          <a href="/admins/login" class="btn btn-lg btn-light">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>